        ///? style for three img

.three-img {
    @include responsive ("land-phone") {
        display: none;

    }

    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;

    .img-all {
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        color: $color-top-list-item;

        .number-img {
            position: absolute;
            top: 60px;
            right: -30px;
        }
    }

}