// color
$color-top-list-item:#f5f4ee;
$color-title-header:#f5f4ee;
$color-search-box:#191b1c;
$color-wiht:#fff;
$color-for-hover:#3698ff;
$color-placeholder:#1e2f38;
$color-box-shadow-searchbox:rgba(255,255,255,0.1);
$color-balck:#000;
$color-box-shadow-topmenu:#ebf0f5;
$color-prise:#6fc341;
$color-icon-course:#d2dbdf;
$color-bg-article:rgba(0,0,0,0.6);
$color-for-font-article:#778286;
$color-footer-bg:#153248;
// fonts